:root{
  --header-font: "Inter", sans-serif ;
  --body-font: "Nunito", sans-serif ;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: var(--body-font);
}

h1, h2, h3, label, button{
  font-family: var(--header-font);
}

.container{
  border: 1px solid firebrick;
  margin: 1.5rem;
}

form{
  margin: 50px;
}

.container label{
  display: block;
  margin-bottom: 5px;
}

#fp-email-auth{
  border: 1px dashed green;
  /* display: flex;
  flex-direction: column;
  justify-content: center; */
}

.auth > input{
  height: 2.125rem;
  width: 100%;
  padding: 2px;
  margin-bottom: 15px;
  border: 1px solid;
  border-radius: 5px;
  font-size: 1rem;
}

.auth  input:focus{
  outline: none;
  border: 1px solid firebrick;
}

.auth-btn{
  font-size: 1rem;
  border: 1px solid;
  width: 50%;
  height: 1.8rem;
  text-align: center;
  border-radius: 5px;
  margin-bottom: 0.5rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.auth-btn:hover{
  background-color: firebrick;
  color: black;
  font-weight: 600;
  cursor: pointer;
  border: none;
}

#resend-code{
  text-decoration: none;
  text-align: center;
  margin-bottom: 5px;
}