*{
  margin: 0;
  padding: 0;
}

body{
  background-color: white; 
  font-size: 1rem;
  font-family: Arial, sans-serif;
  padding: 50px;
}

.form-wrapper{
  border: 1px solid firebrick;
  margin: auto;
  padding: 40px;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  max-width: 50%;
}

#main-header{
  padding: 10px;
  text-align: center;
}

#login-form{
  padding: 10px;
}

.login{
  text-decoration: none;
  color: firebrick;
}

.login:hover{
  cursor: pointer;
  text-decoration: underline;
  font-weight: 600;
  color: black;
}

.login:active{
  text-decoration: underline;
  color: black;
  font-weight: 600;
}

/* style for google login */
.google{
  /* border: 2px solid blue;  */
  margin-bottom: 20px;
}

.google > button{
  height: 2.8rem;
  width: 100%;
  font-size: 1rem;
  font-weight: 400;
  text-align: center;
  border: none;
  border-radius: 5px;
  border: 1.5px solid black;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  vertical-align: middle;
}

.google > button:hover{
  cursor: pointer;
  border: 2px solid firebrick;
}

.google img{
  vertical-align: middle;
  margin-bottom: 1px;
  margin-right: 10px;
}

hr{
  background-color: firebrick;
  margin-bottom: 10px;
}

.bio label{
  display: block;
}

.bio{
  margin-bottom: 10px;
  padding: 0;
}

.bio > label{
  margin-bottom: 5px;
  font-size: 1.0625rem;
  padding: 3px;
}

.bio input{
  height: 50px;
  width: 100%;
  border-radius: 5px;
  border: 1.5px solid;
  padding: 0 0 0 5px;
  font-size: 1rem;
}

/* come to review and understand when I learn CSS position */
.toggle-eye{
  position: relative;
}

#toggle-password{
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  padding-right: 5px;
}

.bio input:focus{
  outline: none;
  border: 1px solid firebrick;
}


input[type="checkbox"]{
  appearance: none;
  border: 1px solid firebrick;
  border-radius: 5px;
  background-color: white;
  transition: all 0.32;
  vertical-align: middle;
  cursor: pointer;
  width: 18px;
  height: 18px;
  margin: 15px;
}

input[type="checkbox"]:checked{
  background-color: firebrick;
  border-color: firebrick;
}

input[type="checkbox"]:checked::after{
  content: "✓";
  display: block;
  text-align: center;
  font-weight: bold;
  color: white;
  line-height: 20px;
}

#forgot-password, .fp{
  padding: 5px;
  margin-bottom: 5px;
}

.fp{
  display: inline-block;
  text-align: right;
}

.submit-button{
  padding: 5px;
  height: 2.8rem;
  width: 100%;
  font-size: 1rem;
  text-align: center;
  border: none;
  border-radius: 5px;
  margin-bottom: 10px;
  border: 1.5px solid black;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.submit-button:hover{
  background-color: firebrick;
  color: black;
  font-weight: 600;
  cursor: pointer;
  border: none;
}

.redirect-to-signup{
  text-align: center;
  margin-top: 10px;
}