:root{
  --header-font: "Inter", sans-serif ;
  --body-font: "Nunito", sans-serif ;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: white; 
  font-family: var(--body-font);
  padding: 3.125rem;
}

h1, h2, h3, label, button{
  font-family: var(--header-font);
}

/* Added font-size: 1rem; */
.form-wrapper{
  border: 1px solid firebrick;
  font-size: 1rem;
  margin: auto;
  padding: 1.875rem;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  max-width: 50%;
}

#main-header{
  padding: 0.625rem;
  text-align: center;
  font-size: 1.5em;
  width: 100%;
}

#signup-form{
  padding: 0.625rem;
}

.link{
  text-decoration: none;
  color: firebrick;
}

.link:hover{
  text-decoration: underline;
  cursor: pointer;
  color: black;
  font-weight: 600;
}

.link:active{
  text-decoration: underline;
  color: black;
  font-weight: 600;
}

/* style for google login */
.google{
  margin-bottom: 1.25rem;
}

.google > button{
  height: 2.8rem;
  width: 100%;
  font-size: 1rem;
  font-weight: 400;
  text-align: center;
  border: none;
  border-radius: 5px;
  border: 1.5px solid black;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  vertical-align: middle;
}

.google > button:hover{
  cursor: pointer;
  border: 2px solid firebrick;
}

.google img{
  vertical-align: middle;
  margin-bottom: 0.0625rem;
  margin-right: 0.625rem;
}

hr{
  background-color: firebrick;
  margin-bottom: 0.625rem;
}

.NAMES{
  display: flex;
  /* add the flex-wrap using media queries so that when 
  it gets to a point it stacks on top of each other */
  flex-wrap: wrap;
  /* either this or rem */
  gap: 0.3125rem;
}

.NAMES > .bio{
  flex-grow: 1;
}

.bio label{
  display: block;
}

.bio{
  margin-bottom: 0.625rem;
  /* padding: 0; */
}

.bio > label{
  margin-bottom: 0.3125rem;
  font-size: 1.0625rem;
  padding: 0.1875rem;
}

.bio input{
  height: 3.125rem;
  width: 100%;
  border-radius: 5px;
  border: 1.5px solid;
  padding: 0 0 0 5px;
  font-size: 1rem;
}

.bio input:focus{
  outline: none;
  border: 1px solid firebrick;
}

/* come to review and understand when I learn CSS position */
.toggle-eye{
  position: relative;
}

#toggle-password{
  position: absolute;
  right: 0.625rem;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  padding-right: 0.3125rem;
}

.submit-button{
  padding: 0.3125rem;
  height: 2.8rem;
  width: 100%;
  font-size: 1rem;
  text-align: center;
  border: none;
  border-radius: 5px;
  margin-bottom: 0.625rem;
  border: 1.5px solid black;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.submit-button:hover{
  background-color: firebrick;
  color: black;
  font-weight: 600;
  cursor: pointer;
  border: none;
}

button + p{
  text-align: center;
  margin-top: 0.625rem0.625rem;
}

.terms{
  margin: 0.9375rem 0;
}

input[type="checkbox"]{
  appearance: none;
  border: 1px solid firebrick;
  border-radius: 5px;
  width: 18px;
  height: 18px;
  background-color: white;
  transition: all 0.3s;
  vertical-align: middle;
  cursor: pointer;
}

input[type="checkbox"]:checked{
  background-color: firebrick;
  border: firebrick;
}

input[type="checkbox"]:checked::after{
  content: "✓"; 
  display: block;
  text-align: center;
  font-weight: bold;
  color: white;
  line-height: 1.25rem;
}